Kestra/data_load_gcs.yaml
id: data_load_gcs
namespace: ecopulse

inputs:
  - id: datatype
    type: SELECT
    displayName: Select data type
    values: [SP500, DGS10, VIXCLS, EFFR, CPIAUCSL, PCEPI, CIVPART, INDPRO, CSUSHPISA]
    defaults: SP500

variables:
  file: "{{inputs.datatype}}_data.csv"
  gcs_file: "gs://{{kv('GCP_BUCKET_NAME')}}/{{vars.file}}"
  data: "{{outputs.fetch_fred_data.outputFiles[inputs.datatype ~ '_data.csv']}}"

tasks:
  - id: fetch_fred_data
    type: io.kestra.plugin.scripts.python.Script
    beforeCommands:
      - pip install fredapi pandas
    docker:
      image: python:slim
    warningOnStdErr: false
    script: |
      import os
      import pandas as pd
      from fredapi import Fred

      fred = Fred(api_key="{{kv('FRED_API_KEY')}}")

      data = fred.get_series('{{inputs.datatype}}')

      df = pd.DataFrame(data, columns=["{{inputs.datatype}}"])
      df.index.name = "date"
      df.reset_index(inplace=True)

      df.to_csv("{{vars.file}}", index=False)

    outputFiles:
      - "{{vars.file}}"

  - id: upload_to_gcs
    type: io.kestra.plugin.gcp.gcs.Upload
    from: "{{render(vars.data)}}"
    to: "{{render(vars.gcs_file)}}"

  - id: purge_files
    type: io.kestra.plugin.core.storage.PurgeCurrentExecutionFiles
    description: If you'd like to explore Kestra outputs, disable it.
    disabled: false

pluginDefaults:
  - type: io.kestra.plugin.gcp
    values:
      serviceAccount: "{{ secret('GCP_SERVICE_ACCOUNT') }}"
      projectId: "{{kv('GCP_PROJECT_ID')}}"
      location: "{{kv('GCP_LOCATION')}}"
      bucket: "{{kv('GCP_BUCKET_NAME')}}"
      fredapikey: "{{kv('FRED_API_KEY')}}"